@import url('https://fonts.googleapis.com/css?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Rocher';
    src: url(/font/RocherColorGX-c8e464ce.woff2);
}

:root { 
  --primary-color: #a82c48;
  --secondry-color: #43121d;
  --third-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: 'Roboto', sans-serif;
  --secondry-font: 'Quicksand', sans-serif;
  ;
}

body {
    font-family: var(--secondry-font);
    font-weight: 600;
    background-image: url('/img/bg-3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 83vh; 
}

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 0.625rem;
}
::-webkit-scrollbar-track {
    background: var(--white-color);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 3px;
}

/* ------------Table Design---------------- */
  
h1 {
    font-family: Rocher;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.table-container {
    width: 80%; 
    max-height: 400px; 
    overflow-y: auto; 
    margin-top: 20px; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

table{
    width: 100%;
    border-collapse: collapse;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

table {
    animation: fadeIn 0.5s ease;
}

thead {
    position: sticky;
    top: 0;
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

table td {
    color: var(--secondry-color);
}

table th {
    background-color: var(--primary-color);
    color: var(--white-color); 
    text-transform: uppercase;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #fff3f3;
}

table tbody tr:hover {
    background-color: #ffe6e6; 
    border-radius: 10px;
}

table tbody tr {
    transition: background-color 0.3s ease;
    border-radius: 10px;
}



